@*Model = Event *@
<div class='scores-info-container' data-scoreboard-section='playoff'>
    <div class="brackets-container-container">
        <div data-bracket-id='playoff' class='bracket-container active'>
            @Html.Raw(@Model.GetPlayoff().Html);
            <div onclick="scrollBracketLeft()" class='brackets-container-arrow brackets-container-arrow-left'><div class='top-bracket-arrow'><img class='left-arrow-img' src='/images/chevron-white.png'></div></div>
            <div onclick="scrollBracketRight()" class='brackets-container-arrow brackets-container-arrow-right active'><div class='top-bracket-arrow'><img src='/images/chevron-white.png'></div></div>
        </div>    
    </div>
</div>