@*Model = Event *@
<div class='scores-games-wrapper'>
	@if (Model.CurrentDraw != null) 
	{
		@Html.RenderPartialAsync("_Draw.cshtml", (Draw)Model.CurrentDraw, new ViewDataDictionary(this.ViewData)
                                 {
                                     { "EventId", Model.EventId }
                                 });
	}
</div>