@*Model = Event *@
<div class='scores-top-header'>
	<div class="scores-top-header-back-button back" onclick="closeScores();" data-back-button data-pop-history data-back-action="close"></div>
		<h2 class='scores-top-header-title'>@Model.Name</h2> 
	<div class="scores-top-header-back-button close" onclick="closeScores();" data-pop-all-history data-close-button></div>
</div>
<div class='scores-container' data-competition-id='@Model.EventId'>
		<div class='scores-header'>
			<div class='tabs'>
				<h3 class='tab-title active' data-scoreboard-section='scores' onclick='showOnScoreboard("scores");'>Scores</h3>
				<!--<h3 class='tab-title' data-scoreboard-section='standings' onclick='showOnScoreboard("standings");'><%- (competition.type == null || competition.type == "round-robin" ? "Standings" : "Bracket") %></h3>
				<h3 class='tab-title' data-scoreboard-section='playoffs' onclick='showOnScoreboard("playoffs");'>Playoffs</h3>-->
			</div>
		</div>
		<div class='scores-info-wrapper'>
			@{await Html.RenderPartialAsync("../Partials/Scoreboard/_Scores");}
		</div>
</div>