@model Event[]
<section class='scores-section section'>
	<h2 class='section-header'>Scores</h2>
	<section class='sub-section'>
		<div class='scores-sub-section'>
			@if (Model.Count() > 0) 
			{
				await Html.RenderPartialAsync("../Partials/Scoreboard/_EventList", Model);
				<div class='scores-container-container'>
					@{await Html.RenderPartialAsync("../Partials/Scoreboard/_ScoresAndStandings", Model[0]);}
				</div>
			}
			else 
			{
				<h3 class='no-games-text'>It appears there are no events to show at this current moment</h3>
			}

		</div>
	</section>
</section>