@*Model = Event *@
<div class='scores-games-wrapper'>
	@if (Model.GetDraw(@ViewData["DrawId"].ToString()) != null) 
	{
		@Html.RenderPartialAsync("_Draw.cshtml", (Draw)Model.GetDraw(@ViewData["DrawId"].ToString()), new ViewDataDictionary(this.ViewData)
                                 {
                                     { "EventId", Model.EventId }
                                 });
	}
</div>