<!DOCTYPE html>
<html>
    <partial name="Partials/_Header" />   
<body>
    <partial name="Partials/_Navigation" />
    <div class="container body-content">
        @RenderBody()
        <partial name="Partials/_Footer"/>
        <partial name="Partials/_Modal"/>
    </div>
</body>
<script src="/js/main.js"></script>
<script src="/js/data.js"></script>
<script src="/js/api.js"></script>
</html>
