<!DOCTYPE html>
<html>
    <partial name="Partials/_Header" />   
<body>
    <partial name="Partials/_Navigation" />
    <div class="container body-content">
        @RenderBody()
        <partial name="Partials/_Footer"/>
        <partial name="Partials/_Modal"/>
    </div>
</body>
</html>
