	<section class='nav-logo-container'>
		<h1 class='nav-title'><img class='nav-logo' src='/images/logo.png' alt='Curling Scores Logo'></h1>
		<div class='navigation-items-list-container'>
			<ul class='navigation-items-list'>
				<li class='navigation-item'><a href='/' class='navigation-link'>Home</a></li>
				<li class='navigation-item'><a href='/scores/' class='navigation-link'>Scores</a></li>
				<li class='navigation-item'><a href='/schedule/' class='navigation-link'>Schedule</a></li>
				<li class='navigation-item'><a href='/rankings/' class='navigation-link'>Rankings</a></li>
			</ul>
		</div>
	</section>