<partial name="../Partials/Home/_ScoreTicker"/>
<div class='news-rankings-container'>
    <section class='news-container-container'>
        <partial name="../Partials/Home/_News"/>
    </section>
</div>